.container {
    display: flex;
}

.title {
    color: white;
    margin-left: 10px;
    font-family: cursive;

}

.Navbar_items {
    display: flex;
    color: white;
    margin-left: 900px;
    gap: 10px;
    cursor: pointer;

}

.animeData {
    display: flex;
}

.animeData {
    margin-right: 10px;
}

.story {
    color: white;
    margin-top: 50px;
}

.story_Name {
    font-size: 30px;
    font-family: cursive;
    gap: 10px;
}

.story_syn {
    font-family: cursive;
}

/* .buttons_data {
    gap: 40px;
} */

button{
    margin-right: 10px;
    padding: 10px;
}

img {
    width: 600px;
    height: 390px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-top: 40px;
    margin-right: 20px;
}